/******* Customized Bootstrap ********/

$primary: #ff800f;
$secondary: #001064;
$light: #f6f7f8;
$dark: #010a35;

$font-family-base: "Roboto", sans-serif;

$headings-font-family: "Roboto Slab", serif;

$body-color: #7f8499;

$headings-color: $dark;

$headings-font-weight: 600;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 0px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";
